
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');





/*Main ADS */
#mainads{
    max-height: 300px;
}
.MainAds{
    height: 300px;
}
/* Main */

body{
    background-color: #EFEFEF;
}

.Concent{
    background-color: white;
    
    border: 1px solid rgb(194, 194, 194);
    border-radius: 5px !important;
    padding: 0%;
    
}
.Concent2{
    background-color: rgb(233, 249, 249);
   
    border: 1px solid rgb(194, 194, 194);
    border-radius: 5px !important;
   
}
img{
   margin:0;
    border-radius: 4px !important;
}
.DogContent{
    margin-left:20;
    margin-right: 20 ;

}
.long{
    height: 100% !important;
}
.row{
    width: 100%!important;
   
}
.picture,text{
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 50%;
}
/*Footer*/
.MainFooter{
 background-color: #1a2930 !important;   
 padding-top: 1px!important;
 padding-bottom: 1px!important;
}
.Copyright{
    background-color: black!important;
    color: white!important;
}
.sideAds{
    padding: 0;
}
.row{
    width: 100%;
}

/*YT*/
.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}
.iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
