.kolor{
    background-color: rgb(249, 252, 252);
    height: 212px;
    border: 1px solid rgb(194, 194, 194);
}
.kolor2{
    background-color: rgb(249, 252, 252);
    
    border: 1px solid rgb(194, 194, 194);
   
}
.DogContent{
    margin-left:20;
    margin-right: 20 ;

}
.long{
    height: 100% !important;
}